body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.Singapore-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    filter: grayscale(25%) brightness(0.95);
}
.Singapore-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Singapore-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glass-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    min-height: 110px;
}

.glass-section .col-10 {
    max-width: 260px;
}
.intro-content,
.hero-content {
    position: relative;
    padding-top: 9%;
    color: white;
}
.intro-content h1, .hero-content h1{
    font-size: 150px;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
}
.h2 {
    font-size: 40px;
    font-family: 'montserrat', sans-serif;
    font-weight: semi-bold;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.lead {
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    margin-top: 0;
}
.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.info-box {
    max-width: 900px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    z-index: 20;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4px);
}
.bi {
    font-size: 24px;
    color: #F60000;
}
.why-icon {
    font-size: 2.8rem;
    margin-bottom: 15px;
    margin-top: 10px;
}
.card-y {
    transition: all .3s;
}

.card-y:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.places-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.cuisine-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.Singapore-bg-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.Singapore-bg-home .carousel-item img, .Singapore-bg-home img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(20%) brightness(0.94);
}
.btn {
    border-color: #F60000;
    color: #ffffff;
    font-family: 'montserrat', sans-serif;
    font-weight: semi-bold;
    font-size: medium;
    box-shadow: #888888 0px 0px 5px;
}
.btn:hover,
.btn:active {
    background-color: #F60000;
    border-color: #F60000;
    color: #ffffff;
}
.navbar {
    background-color: #080808 !important;
    border-color: #ffffff;
    z-index: 100;
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff !important;
    font-family: Poppins, sans-serif;
    font-weight: 420;
}
.navbar-nav .nav-link:hover {
    color: #F60000 !important;
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;

}
.overview-banner {
    height: 80px;
    background: url("assets/banner.jpg") center/cover no-repeat;
    filter: grayscale(17%) brightness(0.90);
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.45);
}
.overview-vid {
  max-height: 530px;
  object-fit: cover;
  width: 100%;
  display:block;
}
.overview-text {
  padding-left: 1rem;
  font-family: poppins, sans-serif;
  font-size: 18px;
}
.timeline-line::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 10%;
  right: 10%;
  height: 3px;
  background-color: #f60000;
  z-index: 0;
}
.timeline-circle {
  width: 55px;
  height: 55px;
  background-color: #f60000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.timeline-box {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  max-width: 320px;
  height: 200px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
.timeline-box:hover {
  transform: translateY(-5px);
}
.card-title {
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.card-text {
  font-family: poppins, sans-serif;
  font-size: 16px;
}
.content {
    font-family: montserrat, sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.content-title {
    font-family: montserrat, sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.card-img-top{
    max-height: 400px;
    object-fit: cover;
}
.map-text .lead{
  padding-top: 1rem;
  font-family: poppins, sans-serif;
  font-size: 20px;
}
.map-text h3{
  font-family: montserrat, sans-serif;
  font-size: 45px;
  font-weight: 600;
}
/* SMALL SCREENS */
@media (max-width: 820px) {
.intro-content h1, .hero-content h1 {
    font-size: 43px;
}
.intro-content, .hero-content {
justify-content: center;
padding-top: 50%;
}
.h2 {
    font-size: 23px;
}
.lead {
    font-size: 16px;
}
}

@media (max-width: 700px) {
.intro-content h1, .hero-content h1 {
    font-size: 40px;
}
.intro-content, .hero-content {
justify-content: center;
padding-top: 50%;
}
.h2 {
    font-size: 20px;
}
.lead {
    font-size: 14px;
}
.timeline-line::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 3px;
  }

  .timeline-step {
    position: relative;
    padding-top: 80px;
  }

  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .info-box {
        width: 95 percent;
        max-width: 100 percent;
        padding: 20px;
        bottom: -20px;
    }
    .info-box .row {
        row-gap: 20px;
    }
    .info-box .col-md {
        flex: 0 0 50 percent;
        max-width: 50 percent;
        padding: 15px 10px;
    }
    .info-box h6 {
        font-size: 13px;
    }
}